.icon-right{
    color: white;
}

.dropdown-content {
    margin-top: 15px;
    display: none;  
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1); */
    z-index: 1;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown:hover .dropdown-content {
    display: block;
}

#bodyCategory{
    background-color : #fff;
    height: auto;
    display:none;
    padding: 15px 12px 12px 12px;
}

#sub{
    display: flex;
}

#login{
    display:none;
    height:auto;
    background-color:#fff;
    width:25%;
    float:right;
    margin-right:20px;
    padding: 40px 20px 0px 20px;
}

.linkNav{
    color: black
}

.linkNav:hover{
    color:rgb(0, 87, 128);
}

.collect:hover{
    background-color: whitesmoke;
    color: black;
}


