.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #003142;
  color: white;
  z-index: 0;
}

ul.footer-menu-not-list {
  width: 100%;
  display: block;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  float: left;
}
footer.brodo-footer
  ul.brodo-footer-list-grid
  > li.menu-dropdown
  ul.footer-menu-not-list
  li {
  width: 100%;
  display: block;
  margin: 10px 0;
}
footer.brodo-footer
  ul.brodo-footer-list-grid
  > li.menu-dropdown
  ul.footer-menu-not-list
  li
  a,
footer.brodo-footer
  ul.brodo-footer-list-grid
  > li.menu-dropdown
  ul.footer-menu-not-list
  li
  p {
  color: #fff;
}
footer.brodo-footer
  ul.brodo-footer-list-grid
  > li.menu-dropdown
  ul.footer-menu-list {
  width: 100%;
  display: block;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  float: left;
}
footer.brodo-footer
  ul.brodo-footer-list-grid
  > li.menu-dropdown
  ul.footer-menu-list
  li {
  width: 100%;
  display: block;
  margin: 10px 0;
}
ul.footer-menu-list {
  width: 100%;
  display: block;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  float: left;
  color: white !important;
  text-decoration: none;
}
ul.footer-menu-list {
  width: 100%;
  display: block;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  float: left;
}

.cine {
  color: white;
  font-size: 16px;
  background-color: transparent;
}

.card-collection {
  margin: 10px;
}

.swiper-quotes {
  background: #003142;
  padding: 35px 15px;
  margin-top: 15px;
  color: white;
  height: 200px;
}

.center {
  position: absolute;
  left: 0;
  top: 39%;
  text-align: center;
  width: 100%;
  font-size: 24px;
}

.product-price {
  width: 100%;
  display: block;
  margin: 10px 0;
  font-size: 16px;
  color: #f57224;
  font-weight: 700;
}

.span-tiny {
  color: #1a1a1a;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  padding-right: 10px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: lighter;
  background-color: #e4e4e4;
}

.span-grid {
  bottom: 5px;
  left: 0;
  right: 0;
  border-bottom: 2px solid #000;
  z-index: 0;
}

.text-bold {
  margin-bottom: 10px;
}

.card-body {
  font-size: 14px;
}

.zoom-img :hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
